<h1>Editar Tarea</h1>
<% form_for(@task, "/tasks/update/#{@task.id}") do |f| %>

  <%= partial 'tasks/form', :locals => { :f => f } %>

  <%= f.submit "Guardadr", :class => "btn btn-primary" %>
  <%= link_to 'Cancelar', url_for(:tasks, :my), :class => "btn btn-secondary" %>
<% end %>
