<h1>Estimar Tarea</h1>
<% form_for(@task, '/tasks/edit') do |f| %> 
  Titulo:
  <br>
  <%= f.label @task.title %>
  <br>
  Tiempo estimado: (minutos)
  <br>
  <%= f.text_field :estimated_time %>
  <br>
  Tiempo real: (minutos)
  <br>
  <%= f.text_field :real_time %>

  <br>
  <%= f.submit "Guardar", :class => "btn btn-primary" %>
<% end %>
