<h1>My Tasks</h1>
<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<% @tasks.each do | task| %>

	<tr>
			<td>
			<%= task.title %>
		</td>
		<td>
			<%= task.location %>
		</td>
		<td>
			<%= task.description %>
		</td>		
		<td>
			<%= link_to 'Edit', url_for(:tasks, :edit, :task_id => task.id), :class => "btn btn-primary" %>
			<%- form_tag url(:tasks, :destroy, :task_id => task.id), :method => :delete, :style => 'display:inline' do %>
                <button type='submit' title="Delete task" rel='tooltip' class="btn btn-secondary" >Delete
                </button>
       <% end %>
		</td>	
	</tr>

  <% end %>



</table>
