<h1>New Tassk</h1>
<% form_for(@task, '/tasks/create') do |f| %>

  <%= partial 'tasks/form', :locals => { :f => f } %>

  <%= f.submit "Create", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:tasks, :my), :class => "btn btn-secondary" %>
<% end %>
