<h1>Crear Tarea</h1>
<% form_for(@task, '/tasks/create') do |f| %> 
  Titulo:
  <br>
  <%= f.text_field :title %>
  <br>
  Fecha Limite: (DD-MM-AAAA)
  <br>
  <%= f.text_field :limit_date %>

  <br>
  <%= f.submit "Crear", :class => "btn btn-primary" %>
<% end %>
