<!--
<div>
	search box
</div>
-->
<table>
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<% @tasks.each do | task| %>

	<tr>
		<td>
			<%= task.title %>
		</td>
		<td>
			<%= task.location %>
		</td>
		<td>
			<%= task.description %>
		</td>		
		<td>
			<%= link_to 'Apply', url_for(:tasks, :apply, :task_id => task.id) %>
		</td>		
	</tr>

  <% end %>

</table>
