<h1>Lista de Tareas</h1>
<table class="table table-bordered">
    <tr>
        <th>Titulo</th>
        <th>Fecha Limite</th>
        <th>ID</th>
        <th>Acciones</th>
    </tr>
    <% @tasks.each do | task | %>
        <tr>
            <td>
                <%= task.title %>
            </td>
            <td>
                <%= task.limit_date%>
            </td>
            <td>
                <%= task.id%>
            </td>
            <td>
               <%= link_to 'Estimar', url_for(:user_tasks, :new, :task_id => task.id), :class => "btn btn-primary" %>
            </td>
        
        </tr>
    <% end %>

</table>
