<div class="jumbotron">
  <h1>Tareas 2.0</h1>
  <p class="lead">Bienvenido al sitio de Gestion de Tareas de  la materia Elementos de la Ingenieria de Software, para ver los alumnos registrados, dirigirse a  <a href="<%= url(:users, :latest) %>">Lista de alumnos</a>. </p>

  <% if signed_in? == false %>
  	<p class="lead"> Para ingresar al curso, favor de  <a href="<%= url(:users, :new) %>">Registrarse</a>. </p>
  <% end %>

  <% if signed_in? %>
	  <% if current_user.is_teacher %>
	  	<a class="btn btn-large btn-success" href="<%= url(:users, :new) %>">Registrar alumno</a>
	  <% end %>
  <% end %>
</div>
