<div class="jumbotron">
  <h1>Tareas</h1>
  <p class="lead">Bienvenido al sitio de Gestion de Tareas de  la materia Elementos de la Ingenieria de Software, para ver los alumnos registrados, dirigirse a  <a href="<%= url(:users, :latest) %>">Lista de alumnos</a>. Para registrar un alumno nuevo, debe iniciar sesion como Docente </p>
  <a class="btn btn-large btn-success" href="<%= url(:users, :latest) %>" >Lista de alumnos</a>
  <% if signed_in? %>
	  <% if current_user.is_teacher %>
	  	<a class="btn btn-large btn-success" href="<%= url(:users, :new) %>">Registrar alumno</a>
	  <% end %>
  <% end %>
</div>
