<h1>Lista de Tareas</h1>
<table class="table table-bordered">
    <tr>
        <th>Titulo</th>
        <th>Fecha Limite</th>
        <th>Tiempo Estimado</th>
        <th>Tiempo Real</th>
    </tr>
    <% @user_tasks.each do | user_task | %>
        <tr>
            <td>
                <%= user_task.title %>
            </td>
            <td>
                <%= user_task.limit_date%>
            </td>
            <td>
                <%= user_task.estimated_time%>
            </td>
            <td>
                <%= user_task.real_time%>
            </td>
        
        </tr>
    <% end %>

</table>
