<h1>Lista de Tareas</h1>
<table class="table table-bordered">
    <tr>
        <th>Titulo</th>
        <th>Fecha Limite</th>
    </tr>
    <% @tasks.each do | task | %>
        <tr>
            <td>
                <%= task.title %>
            </td>
            <td>
                <%= task.limit_date%>
            </td>
            <td>
        
        </tr>
    <% end %>

</table>
